{:profiles
 {:Default {:default true
         :sim     50
         :delay   100
         :alone   150
         :held    100}}
 :templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"}
 :simlayers {:w-mode {:key :w}
             :caps_lock-mode {:key :caps_lock}
             :o-mode {:key :o}
             }
 :main [{:des "wkey (apps)"
         :rules [:w-mode
                 [:k [:km "open: Safari"]]
                 [:i [:km "open: Chrome"]]
                 [:j [:km "open: iTerm"]]
                 [:l [:km "open: VS Code"]]
                 [:m [:km "open: whatsapp"]]
                 [:s [:km "open: Slack"]]
                 ]}
        {:des "okey (alfred)"
         :rules [:o-mode
                 [:1 :!C1]
                 [:2 :!C2]
                 [:3 :!C3]
                 [:4 :!C4]
                 [:5 :!C5]
                 [:6 :!C6]
                 [:i [:alfred "tty" "net.isometry.alfred.tty"]]]}
        {:des "capskey",
         :rules [:caps_lock-mode
                 [:open_bracket :!TOopen_bracket]
                 [:close_bracket :!TOclose_bracket]
                 [:semicolon :!TOsemicolon]
                 [:quote :!TOquote]
                 [:comma :!TOcomma]
                 [:period :!TOperiod]
                 [:slash :!TOslash]
                 [:a :!TOa]
                 [:b :!TOb]
                 [:c :!TOc]
                 [:d :!TOd]
                 [:e :!TOe]
                 [:f :!TOf]
                 [:g :!TOg]
                 [:h :!TOh]
                 [:i :!TOi]
                 [:j :!TOj]
                 [:k :!TOk]
                 [:l :!TOl]
                 [:m :!TOm]
                 [:n :!TOn]
                 [:o :!TOo]
                 [:p :!TOp]
                 [:q :!TOq]
                 [:r :!TOr]
                 [:s :!TOs]
                 [:t :!TOt]
                 [:u :!TOu]
                 [:v :!TOv]
                 [:w :!TOw]
                 [:x :!TOx]
                 [:y :!TOy]
                 [:z :!TOz]
                 [:1 :!TO1]
                 [:2 :!TO2]
                 [:3 :!TO3]
                 [:4 :!TO4]
                 [:5 :!TO5]
                 [:6 :!TO6]
                 [:7 :!TO7]
                 [:8 :!TO8]
                 [:9 :!TO9]
                 [:0 :!TO0]]}]}
